@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>To use this webpage deeply, you need to <a href="~/Account/Register">register</a> as a user first.<br>Then click "Unit" to view the unit list we provided.<br> After that, click <a href="~/Home/Contact">Contact</a> to connect with us if you obtained the ideal unit.</h3>

<p></p>
