@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <abbr title="Phone">P:</abbr>
    0424092560
</address>

<address>
    <strong>Email:</strong> <p>xzen0011@studnet.monash.edu</p>

</address>