@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Financial Learner</h1>
    <p class="lead">The Financial Learner is a free website aiming to provide basic and systemic financial literacy for interested users.</p>
    <p><a href="About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Finance and economics aren't dismal terms or obscure subjects, they will actually affect our daily life.<br>
            If you are viewing my web, then your porfile is very clear to me —— You are a person who is ready to evolve your thinking habits at any time. <br>Hence, my goal is also very simple, that is, let you have economic wisdom without taking eco or fin as a career.
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=Z0fHY88u6GM&feature=youtu.be">Start with a lecture &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>